#bitonic-array-max {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 20px;

  button {
    margin: 10px;
  }

  button[name=advance] {
    font-size: 20px;
  }

  button[name=advance], button[name=reset] {
    width: fit-content;
    margin: 10px auto;
  }
}

#code {
  background-color: #ffecb3;
  border-radius: 10px;
  padding: 10px;
}

#array-viz {
  background-color: #bbdefb;
  border-radius: 10px;
  padding: 10px;
}

.dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;

  &.start {
    background-color: green;
  }

  &.mid {
    background-color: yellow;
  }

  &.end {
    background-color: red;
  }
}
