#keyboard-ui-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#keyboard {
  .row {
    .key {
      rect {
        fill: none;
        stroke: grey;
      }
    }
  }
}
