---
layout: default
---

<h1>Recipes</h1>

{% for recipe_hash in site.data.recipes %}
{% assign recipe = recipe_hash[1] %}
  <p data-toggle="collapse" data-target="#{{ recipe.name }}" style="cursor:pointer; text-transform:capitalize">
    <b>{{ recipe.name | replace:'_',' ' }}</b>
  </p>
  <div class="collapse" id="{{ recipe.name }}">

    <div class="card card-body">
        {% if recipe.source %}
          <a href="{{ recipe.source }}" target="_blank">Source</a>
        {% endif %}
        <b>Ingredients</b>
        <ul>
          {% for x in recipe.ingredients %}
            <li>{{ x }}</li>
          {% endfor %}
        </ul>
        <b>Instructions</b>
        <ol>
          {% for x in recipe.instructions %}
            <li>{{ x }}</li>
          {% endfor %}
        </ol>
    </div>
  </div>
{% endfor %}
