.input-container {
  width: 80%;
  margin: 0 auto;
  overflow-y: scroll;

  .examples {
    display: flex;
    
    .example {
      padding-right: 10px;
      margin-right: 10px;
      margin-bottom: 10px;
      cursor: pointer;
      border: 2px solid grey;
      p {
        margin: 5px;
      }

      &.selected {
        color: green;
      }
    }
  }

  textarea {
    width: 99%;
    height: 200px;
    font-family: monospace;
    font-size: 13px;
  }
}

#lexing-ui-container {
  $BG: #1E1E1E;
  $BLUE: #389EDB;
  $WHITE: #D4D4D4;
  $ORANGE: #D98E73;
  $GREEN: #5B9B4C;
  $LIGHTGREEN: #AFCFA4;
  $GREY: grey;
  $RED: red;

  .lexed-input {
    width: 80%;
    margin: 0 auto;
    padding: 5px;
    font-family: monospace;
    font-size: 16px;
    background: $BG;
    overflow-x: scroll;
    line-height: 1.3;
    position: relative;

    .STRING { color: $ORANGE; }
    .INTEGER { color: $ORANGE; }
    .COMMENT { color: $GREY; }
    .IDENTIFIER { color: $LIGHTGREEN; }
    .TYPE { color: $GREEN; }
    .OPERATOR { color: $WHITE; }
    .PUNCTUATION { color: $WHITE; }
    .KEYWORD { color: $BLUE; }
    .UNIDENTIFIED { color: $RED; }

    &:hover {
      span {
        transition: opacity 150ms;
        opacity: 0.3;

        &:hover {
          opacity: 1;
        }
      }
    }

    .tooltip {
      background: grey;
      width: fit-content;
      border-radius: 5px;
      padding: 5px;
      position: absolute;
      z-index: 1;

      &::before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-width: 6px;
        border-style: solid;
        border-color: transparent grey transparent transparent;
        top: 9px;
        left: -12px;
      }
    }
  }
}
