#categories {
  border: 3px solid lightgrey;
  border-radius: 10px;
  padding: 15px;

  .chip {
    position: relative;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    padding: 8px;

    p {
      color: white;
      margin: 0;
      font-size: 20px;
    }
  }

  .filter-chip {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    .chip {
      padding-right: 15px;
      &:last-child { margin-right: 8px; }
    }
  }

  .value-chip  {
    margin-right: 8px;
    .chip {
      padding: 6px;
      p {
        font-size: 12px;
      }
    }
  }

  .chips {

    display: flex;
    margin: 0;

    .chip {
      &:not(:first-child) {
        padding-left: 22px;
        margin-left: -16px;
      }

      .remove {
        cursor: pointer;
        font-size: 14px;
        position: absolute;
        top: 0;
        right: 8px;
      }
    }
  }

  .options {
    display: flex;
    align-items: center;

    p {
      background-color: lightgrey;
      width: fit-content;
      height: fit-content;
      padding: 5px;
      margin: 0;
      margin-right: 5px;
      border-radius: 5px;
      cursor: pointer;
    }
  }

  .job-list {
    height: 400px;
    overflow-y: scroll;
    padding-top: 10px;

    &.empty {
      text-align: center;

      p {
        font-weight: 500;
      }
    }

    .job-card {
      border: 1px solid lightgrey;
      border-radius: 5px;
      padding: 5px;
      margin-bottom: 10px;

      .title {
        font-size: 18px;
      }

      .description {
        font-size: 12px;
      }

      .value-chips {
        display: flex;
      }
    }
  }
}
