:root {
    /* https://flatuicolors.com/palette/cn */
	--color-1: #747d8c;
    --color-2: #57606f;
    --color-3: #4b6584;

    --spacer-1: 10px;
    --spacer-2: 20px;
    --spacer-3: 30px;

    --transition-length: 0.3s;
}

body {
    margin: 0;
}

.container-fluid {
	margin: 0 0;
    padding: 0 0;
    display: flex;
    flex-direction: row;
}

h1 {
    margin: 0;
}

/* header and footer */
.header, .footer {
	background-color: var(--color-1);
    width: 100%;
    display: flex;
}

.header h1 {
    font-size: 3rem;
    color: black;
}

.header a:hover {
    text-decoration: none;
}

#title {
    width: 320px;
}

#spacer {
    flex-grow: 1;
}

#socials {
    width: 150px;
}

.header > #socials > #social-links {
    transform: translateY(50%);
}

#social-links.col-sm {
    padding: 0 0;
}

.footer {
    justify-content: center;
}

/* Section blocks */
#content {
    width: 80%;
}

.content-section {
    padding-bottom: var(--spacer-3);
}

.content-section h1 {
    padding-bottom: 5px;
}

hr {
    color: var(--color-1);
    border-top: 1px solid;
}

/* Projects */
#projects, #blog {
    display: flex;
    flex-direction: column;
}

#project-block, #blog-block {
    border-style: solid;
    border-radius: 15px;
    border-width: thin;
    border-color: var(--color-2);
}

#project-block a > svg {
    /* get github link to line up with title */
    padding: 0 0 6px 0;
}

/* Albums */
#albums {
    display: flex;
    flex-wrap: wrap;
}

#album-cover {
    opacity: 0.2;
}

#album-block {
    position: relative;
}

#album-cover:hover {
    opacity: 1;
}


#album-cover, #album-cover:hover {
    transition: visibility var(--transition-length), opacity var(--transition-length) linear;
}

#album-block .cover-text {
    position: absolute;
    top: 10px;
    left: 15px;
    width: 190px;
    font-family: "Arial Black", sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    overflow-wrap: break-word;
    color: black;
    opacity: 1;
    z-index: 10;
}

#album-block:hover .cover-text {
    visibility: hidden;
}

/* Blog */
#blog-block h2 {
    color: var(--color-3);
}

#blog-block a:hover {
    text-decoration: none;
}

/* Padding */
.px-0 { padding-left: 0; padding-right:  0 }
.py-0 { padding-top: 0;  padding-bottom: 0 }

.px-1 { padding-left: var(--spacer-1); padding-right:  var(--spacer-1) }
.py-1 { padding-top: var(--spacer-1);  padding-bottom: var(--spacer-1) }

.px-2 { padding-left: var(--spacer-2); padding-right:  var(--spacer-2); }
.py-2 { padding-top: var(--spacer-2);  padding-bottom: var(--spacer-2); }

/* Margin */
.mx-auto { margin-left: auto; margin-right: auto; }

.mt-0 { margin-top: 0; }
.mr-0 { margin-right: 0; }
.mb-0 { margin-bottom: 0; }
.ml-0 { margin-left: 0; }

.mt-1 { margin-top: var(--spacer-2); }
.mr-1 { margin-right: var(--spacer-2); }
.mb-1 { margin-bottom: var(--spacer-2); }
.ml-1 { margin-left: var(--spacer-2); }

.mt-2 { margin-top: var(--spacer-2); }
.mr-2 { margin-right: var(--spacer-2); }
.mb-2 { margin-bottom: var(--spacer-2); }
.ml-2 { margin-left: var(--spacer-2); }
