---
# front matter
---

// https://flatuicolors.com/palette/cn
// https://broccolini.net/50shadesofblk/
$color-1: #747d8c;
$text-2-dark: #5F6E78;
$text-1-light: #BEC4C8;
$text-2-light: #97A1A7;
$color-2: #57606f;
$color-3: #4b6584;

$footer-height: 48px;

body {
  margin: 0;
  height: 100%;
  font-family: Helvetica Neue;
}

h1 {
  margin: 0;
  font-size: 3rem;
}

h3 {
  font-size: 1.5rem;
}

a {
  color: $color-3;

  &:hover {
    color: $color-3;
  }
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* code formatting */
pre {
  padding-left: 0.5em;
}
.highlighter-rouge {
  padding: 0 10% 0 10%;
}

.social-links {
  .social-link {
    opacity: 0.6;
    transition: opacity 0.3s linear;

    &:hover {
      opacity: 1;
    }
  }
}

#page-container {
  position: relative;
  min-height: 100vh;

  #content {
    hr {
      color: $color-1;
      border-top: 1px solid;
      margin: 0 0 15px 0;
    }

    // home page
    #index {
      #splash {
        height: 100vh;
        position: relative;

        // class primitives for animating in content
        .slide-in {
          transition: all 1s ease;
          transform: translate(0, 0);

          &.hidden {
            transform: translate(0, -30px);
          }
        }
        .fade-in {
          transition: all 1s ease;
          opacity: 1;

          &.hidden {
            opacity: 0;
          }
        }

        .splash-content {
          position: absolute;
          top: 45vh;
          left: 20vw;
          pointer-events: none;

          .greeting {
            font-size: 36px;
            font-weight: 700;
          }

          .about {
            color: $text-2-dark;
          }
        }

        .links {
          position: absolute;
          top: 50px;
          left: 50px;
          display: flex;

          p {
            margin: 0 10px;
            transition: opacity 0.3s linear;
            opacity: 0.6;

            &:hover {
              cursor: pointer;
              opacity: 1;
            }
          }
        }
      }

      #sidebar-nav {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 45vh;
        left: 5vh;
        transition: opacity 0.2s linear;
        opacity: 1;
        pointer-events: unset;
        z-index: 10;

        &.hidden {
          opacity: 0;
          pointer-events: none;
        }

        .links p {
          transition: opacity 0.3s linear;
          opacity: 0.6;

          &:hover {
            cursor: pointer;
            opacity: 1;
          }
        }
      }

      .section {
        width: 100%;
        padding: 0 15vw 0 20vw;
        margin-bottom: 90px;

        .section-header {
          display: flex;
          justify-content: flex-end;
          padding-top: 20px;
          padding-bottom: 5px;
          font-size: 56px;
        }

        .post-container {
          display: flex;
          flex-direction: column;

          .post {
            width: fit-content;
            margin: 16px 0;

            .title-link {
              color: $color-3;
              text-decoration: none;

              &:hover {
                  text-decoration: underline;
              }
            }

            .excerpt {
              color: $text-2-light;

              * {
                margin: 0;
              }
            }
          }
        }

        &#projects {
          .title-bar {
            display: flex;
            align-items: center;

            .tech-badge {
              background-color: lightgrey;
              border-radius: 5px;
              padding: 3px 5px;
              margin: 0 0px 7px 10px;
              color: grey;
              height: fit-content;
              font-size: 12px;
              pointer-events: none;
            }
          }
        }

        &#music {
          .album-container {
            display: flex;
            flex-direction: column;

            .album-block {
              display: flex;
              position: relative;
              width: fit-content;
              margin-bottom: 20px;
              font-family: "Arial Black", sans-serif;
              font-size: 32px;
              font-weight: 700;
              color: $color-3; // for underline color

              .artist {
                color: $color-3;
                margin-right: 12px;
              }
              .album {
                color: black;
              }
            }
          }
        }

        &#contact {
          min-height: 100px;
          display: flex;
          justify-content: center;
          padding-top: 60px;

          .social-links {
            display: flex;
            align-items: center;

            .social-link {
              margin: 0 3px;
            }
          }
        }
      }
    }

    // blog post
    #post {
      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        box-shadow: 0 3px 5px 0 lightgrey;

        a {
          &:hover {
            text-decoration: none;
          }

          h1 {
            font-size: 32px;
            color: black;
            opacity: 0.6;
            transition: opacity 0.3s linear;

            &:hover {
              opacity: 1;
            }
          }
        }
      }

      .post-content {
        padding: 90px;
        padding-top: 30px;
      }
    }
  }
}
