---
# front matter
---

/* https://flatuicolors.com/palette/cn */
$color-1: #747d8c;
$color-2: #57606f;
$color-3: #4b6584;

$footer-height: 48px;

body {
    margin: 0;
    height: 100%;
}

h1 {
  margin: 0;
  font-size: 3rem;
}

h3 {
  font-size: 1.5rem;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* code formatting */
pre {
  padding-left: 0.5em;
}

.highlighter-rouge {
  padding: 0 10% 0 10%;
}

#page-container {
  position: relative;
  min-height: 100vh;

  .header, .footer {
    background-color: $color-1;
    width: 100%;
    display: flex;

    .social-links {
      display: flex;
      align-items: center;

      .social-link {
        margin: 0 3px;
      }
    }
  }

  .header {
    margin: 0 0;
    padding: 0 10px;
    display: flex;
    flex-direction: row;

    h1 {
      color: black;
      padding-bottom: 5px;
    }

    .spacer {
      flex-grow: 1;
    }

    a {
      text-decoration: none;
    }
  }

  .footer {
    position: absolute;
    bottom: 0;
    height: $footer-height;
    justify-content: center;
  }

  #content {
    margin-top: 30px;
    padding-bottom: $footer-height + 30;
    width: 80%;

    a {
      color: $color-3;
      text-decoration: underline;
    }

    hr {
      color: $color-1;
      border-top: 1px solid;
      margin: 0 0 15px 0;
    }

    // home page
    .section {
      padding-bottom: 20px;

      .section-header {
        display: flex;
        align-items: center;
        padding-bottom: 5px;

        .expand-button{
          transition: all 0.2s linear;

          &.down {
              transform: rotate(90deg);
          }
        }
      }

      .post-container {
        display: flex;
        flex-direction: column;

        .post {
          margin: 8px;
          padding: 10px;
          border-style: solid;
          border-radius: 15px;
          border-width: thin;
          border-color: $color-2;

          &.project {
            .title-bar {
              display: flex;
              align-items: center;

              .tech-badge {
                background-color: lightgrey;
                border-radius: 5px;
                padding: 3px 5px;
                margin: 0 0px 7px 10px;
                color: grey;
                height: fit-content;
                font-size: 12px;
                pointer-events: none;
              }
            }
          }

          .title-link {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
          }

          .excerpt {
            padding: 0 8px;

            p {
              margin: 0;
            }
          }
        }
      }

      .album-container {
        display: flex;
        flex-wrap: wrap;

        .album-block {
          position: relative;
          margin-bottom: 20px;

          .cover-text {
            position: absolute;
            top: 0;
            left: 15px;
            width: 190px;
            font-family: "Arial Black", sans-serif;
            font-size: 1.5rem;
            text-transform: uppercase;
            overflow-wrap: break-word;
            color: black;
            opacity: 1;
            z-index: 10;

            .artist {
              color: #4b6584;
            }
          }

          .album-cover {
            opacity: 0.2;
            padding: 0 8px;
            height: 200px;
          }

          &:hover {
            .cover-text {
              visibility: hidden;
            }

            .album-cover {
              opacity: 1;
              transition: visibility 0.3s, opacity 0.3s linear;
            }
          }
        }
      }
    }
  }
}
