.expandable-code-block {

  .button {
    font-family: Menlo;
    cursor: pointer;
    text-align: center;
    font-size: 1.2em;
  }

  pre {
    overflow-y: scroll;
    max-height: 0;
    padding: 0;
    transition: max-height 500ms;
  }

  &.expanded {
    pre {
      max-height: 90vh;
    }
  }
}