// https://flatuicolors.com/palette/cn
// https://broccolini.net/50shadesofblk/
$text-2-dark: #5F6E78;
$text-1-light: #BEC4C8;
$text-2-light: #97A1A7;
$color-1: #747d8c;
$color-2: #57606f;
$color-3: #4b6584;

body {
  font-family: Avenir, "Helvetica Neue", "Lucida Grande", sans-serif;
  padding: 20px 20px 60px;
  max-width: 680px;
  margin: 0 auto;
}

#page-container {
  // max-width: 800px;
  // padding: 30px 15px;
  // margin: 0 auto; // center

  // a {
  //   color: $color-3;

  //   &:hover {
  //     color: $color-3;
  //   }
  // }

  hr {
    color: $color-1;
    background: none;
    border-top: 1px solid;
    margin: 0 0 15px 0;
  }

  // h1, h2, h3 {
  //   margin: 0
  // }

  #about {
    .title-container {
      text-align: center;

      .title {
        height: 100px;
      }
    }
  }

  #index {
    .title-container {
      text-align: center;

      .title {
        height: 120px;
      }
    }

    .description {
      line-height: 150%;
      margin-bottom: 30px;
    }

    .posts-container {
      .post {
        display: flex;
        align-items: baseline;
        margin: 15px 0;
        color: black;
        text-decoration: none;

        .title {
          font-size: 32px;
          margin: 0;
          margin-left: 10px;
        }

        .date {
          font-size: 14px;
          color: gray;
          margin: 0;
          white-space: nowrap;
        }

        @media only screen and (max-width: 700px) {
          flex-direction: column-reverse;

          .title {
            margin-left: 0;
          }
        }
      }
    }
  }

  // .post {
  //   margin-top: 90px;

  //   @media only screen and (max-width: 500px) {
  //     overflow-x: hidden;
  //   }

  //   pre {
  //     font-size: 14px;
  //     margin: 2em;
  //     background-color: #f8f8f8; // this should be applied by the highlighter but it's not...
  //     overflow-x: scroll;
  //   }
  // }
}