body {
  font-family: Avenir, "Helvetica Neue", "Lucida Grande", sans-serif;
  padding: 20px 20px 60px;
  max-width: 680px;
  margin: 0 auto;
}

p {
  font-size: 16px;
}

@mixin link {
  text-decoration: none;
  color: black;
  font-weight: 500;

  background-image: url('../images/handwriting/highlight.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

p a {
  @include link();
}

@mixin wipe-right-start { clip-path: polygon(0 0, 0 0, 0 100%, 0 100%); }
@mixin wipe-left-start { clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%); }
@mixin wipe-down-start { clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); }
@mixin wipe-up-start { clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%); }
@mixin wipe-end { clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
@mixin cursor-start { transform:translate(0, 0) }
@mixin cursor-end { transform:translate(-20px, -10px) }
@keyframes wipe-right {
  0%   { @include wipe-right-start() }
  50%  { @include wipe-right-start() }
  100% { @include wipe-end() }
}
@keyframes wipe-left {
  0%   { @include wipe-left-start() }
  50%  { @include wipe-left-start() }
  100% { @include wipe-end() }
}
@keyframes wipe-down {
  0%   { @include wipe-down-start() }
  50%  { @include wipe-down-start() }
  100% { @include wipe-end() }
}
@keyframes wipe-up {
  0%   { @include wipe-up-start() }
  50%  { @include wipe-up-start() }
  100% { @include wipe-end() }
}
@keyframes spin {
  0%   { transform:rotate(0); }
  50%  { transform:rotate(0); }
  100% { transform:rotate(360deg); }
}
@keyframes cursor-animation {
  0%   { @include cursor-start() }
  50%  { @include cursor-start() }
  100% { @include cursor-end() }
}
@keyframes move-up {
  0%   { transform:translate(0,0); }
  50% { transform:translate(0,-10px); }
  100% { transform:translate(0,0); }
}

#page-container {
  #about {
    .title-container {
      text-align: center;

      .title {
        height: 100px;
      }
    }
  }

  #index {
    .site-title-container {
      text-align: center;

      .site-title {
        height: 120px;
      }
    }

    .description {
      line-height: 150%;
      margin-bottom: 30px;
    }

    .posts-container {
      // Only do hover effects for mouse devices.
      @media (pointer: fine) {
        &:hover {
          .post {
            opacity: 0.3;
          }
        }

        .post:hover {
          opacity: 1;
        }

        .sketch.cursor .animate {
          @include cursor-end();
        }

        .post:hover .sketch {
          .animate {
            animation-duration: 600ms;
          }

          &.chess .animate {
            animation-name: spin;
            transform-origin: 50% 15%;
          }
          &.connected-components .animate { animation-name: wipe-up; }
          &.ski-graphs .animate { animation-name: wipe-right; }
          &.cryptograms .animate { animation-name: wipe-down; }
          &.music-note .animate { animation-name: wipe-down; }
          &.pipes .animate { animation-name: wipe-down; }
          &.d3 .animate { animation-name: wipe-up; }
          &.keyboard .animate { animation-name: wipe-right; }
          &.cursor .animate { animation-name: cursor-animation; }
          &.categories .animate { animation-name: move-up; }
        }
      }

      .post {
        display: flex;
        align-items: center;
        padding: 10px 0;
        color: black;
        text-decoration: none;
        transition: opacity 350ms;

        .sketch {
          width: 100px;
          height: 100px;
          margin-right: 10px;
        }

        .title-container {
          display: flex;
          flex-direction: column;
          justify-content: center;

          .title {
            font-size: 32px;
            margin: 0;
          }

          .date {
            font-size: 14px;
            color: gray;
            margin: 0;
            white-space: nowrap;
          }
        }

        @media (max-width: 700px) {
          padding: 15px 0;
        }
      }
    }
  }
}
